@import "tailwindcss";

@theme {
  --color-background: #0a091f;
  --color-secondary: #27263D;

  --animate-rippleEffect: ripple 0.5s linear;
  
  @keyframes ripple {
    0%: {
      transform: 'scale(0)',
      opacity: '0.6',
    }
    100%: {
      transform: 'scale(4)',
      opacity: '0',
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #0a091f;
  border-radius: 10px; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff42; 
  border-radius: 10px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff7a; 
}