@import "tailwindcss";

@theme {
  --color-background: #0a091f;
  --color-secondary: #27263D;

  --animate-ripple1: ripple1 0.5s linear;
  
  --animate-rune: rune 1s ease-in-out infinite;

  @keyframes rune {
    0% {
      opacity: 1;
      transform: scale(1.2);
    }
    50% {
      opacity: 0.2;
      transform: scale(1);
    }
    100% {
      opacity: 1;
      transform: scale(1.2);
    }
  }

  @keyframes ripple1 {
    0%: {
      width: '0px';
      height: '0px';
      opacity: '0.8',
    }
    100%: {
      width: '150px';
      height: '150px';
      opacity: '0',
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #0a091f;
  border-radius: 10px; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff42; 
  border-radius: 10px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff7a; 
}